@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

/************ Colors ************/

:root {
  --first-color: #fefefe;
  --second-color: #131313;
  --third-color: #f0b913;
  --fourth-color: #fad155;
  --fifth-color: #3d444c;
  --sixth-color: #a47fc0;
  --seventh-color: #56606b8f;
  --eighth-color: #c83169;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: url("./fondoblanco.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  text-decoration: none !important;
}
#content {
  margin-left: 180px;
}
.invert {
  filter: invert();
}

/*****************MENU*****************/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: var(--third-color);
  color: var(--first-color);
  font-size: 14px;
  padding-top: 20px;
  box-shadow: 5px 5px 5px var(--second-color);
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.item-menu {
  color: var(--second-color);
  padding: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.item-menu:hover {
  background-color: var(--fourth-color);
  color: var(--second-color);
}
.item-menu.observer-active {
  background-color: var(--fourth-color);
  font-size: 16px;
  color: var(--second-color);
}

.rubro-icon {
  width: 30px;
}

.whats {
  filter: drop-shadow(0px 0px 8px var(--second-color));
}
.rubro-title {
  display: block;
  margin: 0 0 10px;
}
.rubro-title-small {
  display: none;
}

/*****************HOME*****************/
#home {
  margin: 0;
  text-align: center;
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.div-lyra {
  font-size: 22px;
  background: var(--fifth-color);
  color: var(--first-color);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lyra {
  font-size: 32px;
  font-family: "Aclonica", "Arial";
}
#lyramayorista {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mayorista {
  margin-bottom: 0 !important;
  padding: 10px;
}
.logo {
  width: 80px;
  margin-right: 5px;
}
.line {
  width: 100%;
  height: 10px;
  background-color: var(--fifth-color);
}
.slogan {
  font-size: 25px;
  font-weight: 600;
  padding: 40px;
}
.icons-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.icons-div > div {
  width: 70px;
  position: relative;
  text-align: center;
}
.icons-div img {
  width: 50px !important;
  margin: 0 5px !important;
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease;
}
.special img {
  transform: scale(1.3);
  filter: grayscale(0%);
}
#text-display {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--eighth-color);
  margin-top: 10px;
  margin-bottom: 20px;
}
.div-collage {
  display: flex;
  filter: opacity(50%);
}
.collage,
.collage2 {
  width: 25%;
}
.mirror,
.mirror2 {
  width: 25%;
  transform: scaleX(-1);
}
.car {
  width: 60px;
}
.delivery {
  max-width: 350px;
  width: 100%;
  margin: 30px;
  background-color: var(--fifth-color);
  border-radius: 5px;
  color: var(--first-color);
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#briseida {
  position: relative;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

/*****************ORDER*****************/
.cart-icon {
  font-size: 1.7rem;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 28px;
  color: #666;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  width: 30px;
  height: 30px;
  z-index: 998;
}
.close-btn:hover {
  color: #000;
}
#order-form {
  position: relative;
  padding-top: 15px;
}
#order {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  background: var(--first-color);
  color: var(--first-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--second-color);
  cursor: pointer;
  font-size: 14px;
}
#order:hover {
  box-shadow: 0px 0px 4px var(--third-color);
}
#my-order {
  width: 95%;
  max-height: 95vh;
  padding: 50px;
  text-align: center;
  display: none;
  position: fixed;
  top: 2.5vh;
  left: 2.5%;
  background: var(--first-color);
  box-shadow: 0px 0px 5px var(--fifth-color);
  border-radius: 10px;
  z-index: 1000;
  overflow-y: auto;
}
#order-btn-text {
  margin: 0px;
}
.remove-btn {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}
#all-products-i-want {
  background: var(--third-color);
}
.product-container {
  background: var(--first-color);
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
input {
  margin: 5px 0 !important;
  padding: 5px !important;
  border-radius: 5px !important;
}

/*****************SEARCH*****************/

#search-container {
  margin: 20px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#search-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.content-item {
  margin: 20px 0;
  font-size: 18px;
}

/*****************FORM*****************/

#contenedor-formulario {
  background: #fff5;
  border-radius: 5px;
  border: 3px solid var(--third-color);
  box-shadow: 0px 0px 10px var(--second-color);
  padding: 30px;
  margin: 20px;
}
#titulo-formulario {
  color: var(--fifth-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#lottie-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lottie-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono-contacto {
  width: 80px;
  height: auto;
}
form {
  text-align: left;
}
.form-elem {
  padding: 10px 0;
}
#send-button {
  background: var(--third-color);
  box-shadow: 2px 2px 5px var(--second-color);
  font-weight: 600;
}
#send-button:hover {
  box-shadow: 2px 2px 10px var(--second-color);
}
.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

/*****************CAROUSEL*****************/
.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffffcc;
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
}
.img-and-text img {
  max-width: 360px;
  padding: 0 10px;
}
.img-and-text p,
.img-and-text div {
  width: 360px;
  height: 140px;
  padding: 10px;
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.carousel-control-next,
.carousel-control-prev {
  height: 200px !important;
  top: 250px !important;
}

/*****************agregar pedido CAROUSEL*****************/
.info-product {
  height: 100px !important;
  position: relative;
  overflow: visible;
}
.info-product-small {
  height: 60px !important;
  position: relative;
}
.product-input {
  height: 180px !important;
  position: relative;
}
.want-btn {
  width: 150px;
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
  background: var(--first-color);
  box-shadow: 1px 1px 4px var(--second-color);
}
.want-btn:hover {
  background: var(--third-color);
}
.type-product {
  width: 150px;
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
}
.number-product {
  width: 150px;
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
}
.added-message {
  background: var(--sixth-color);
  color: var(--first-color);
  height: 40px !important;
  border-radius: 10px;
  font-weight: 600;
  position: absolute;
  top: -80%;
}

/*****************SECTIONS*****************/
.menu-section {
  margin: 20px;
}
.info-btn {
  padding: 3px 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--second-color);
}
.info-btn:hover {
  background: var(--fifth-color);
  color: var(--first-color);
}
.info-div {
  background: var(--first-color);
  z-index: 998 !important;
  border: 2px solid var(--third-color);
  border-radius: 10px;
  height: auto !important;
}

.extra-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
a h5 {
  color: var(--second-color);
}
.catalogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.catalogo div {
  padding: 10px;
  margin: 10px;
  background: var(--first-color);
  border-radius: 10px;
}
.catalogo div:hover {
  box-shadow: 0px 0px 10px var(--second-color);
  cursor: pointer;
}
.catalogo img {
  width: 300px !important;
  padding: 10px;
}
.carta-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carta-img-div img {
  width: 250px;
}
.download-btn {
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px 3px var(--second-color);
}
.download-btn:hover {
  border: 2px solid var(--third-color);
}
.icon-img {
  width: 30px;
}
#carteras-select {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
#carteras-select:hover {
  box-shadow: 0px 0px 6px var(--third-color);
}
.pdf-viewer {
  width: 100%;
  overflow: hidden;
}
.pdf-viewer iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/*****************FOOTER*****************/

footer {
  text-align: center;
  padding: 40px;
  background-color: var(--fifth-color);
}
footer p {
  color: var(--first-color);
}
.footer-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#iconos {
  text-align: center;
  padding-bottom: 10px;
}
#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: var(--third-color);
}
#iconos i:hover {
  filter: invert();
}

/*****************RESPONSIVE*****************/
@media (max-width: 968px) and (min-width: 869px) {
  .img-and-text p {
    width: 260px;
    height: 160px;
    font-size: 15px;
  }
  .info-div {
    padding: 5px 50px !important;
  }
}

@media (max-width: 868px) and (min-width: 569px) {
  .lyra {
    font-size: 24px;
  }
  #mayorista {
    font-size: 14px;
  }
  #order {
    font-size: 12px;
    padding: 5px;
  }
  #logo {
    width: 70px;
  }
  .collage,
  .mirror {
    width: 50%;
  }
  .collage2,
  .mirror2 {
    display: none;
  }

  .img-and-text p {
    width: 360px;
    height: 140px;
    font-size: 15px;
  }

  #my-order {
    padding: 20px;
  }
}

@media (max-width: 568px) {
  .menu-section {
    margin: 0px;
  }
  .lyra {
    font-size: 22px;
  }
  .div-lyra {
    font-size: 16px;
    padding: 6px;
  }
  .logo {
    width: 50px;
    margin: 5px;
  }
  #mayorista {
    display: none;
  }
  .icons-div {
    grid-template-columns: repeat(3, 1fr);
  }
  #order {
    font-size: 10px;
    padding: 5px;
    margin-left: 10px;
  }
  #my-order {
    padding: 20px;
  }
  .collage {
    width: 100%;
  }
  .mirror,
  .collage2,
  .mirror2 {
    display: none;
  }
  .catalogo img {
    width: 250px !important;
    padding: 5px;
  }
  .img-and-text img {
    max-width: 280px;
    padding: 10px 0;
  }
  .img-and-text p {
    width: 260px;
    height: 160px;
    font-size: 14px;
  }
  .carta-img-div {
    flex-direction: column;
  }
  .download-btn {
    font-size: 10px;
  }
  .icon-img {
    width: 20px;
  }
  .info-div {
    padding: 5px 35px !important;
  }
  footer {
    padding: 10px;
  }
  .footer-div {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 868px) {
  #content {
    margin-left: 70px;
  }
  #menu {
    width: 68px;
    font-size: 12px;
    padding-bottom: 10px;
  }
  .rubro-title {
    display: none;
  }
  .rubro-title-small {
    display: block;
    font-size: 11px;
    margin: 5px;
  }
  .cart-icon {
  font-size: 1.3rem;
}
.order{
  position: fixed;
  top: 2rem;
  right: 2rem;
}
  .car {
    width: 50px;
  }
  .delivery {
    max-width: 250px;
    font-size: 14px;
  }
  #search-input {
    font-size: 12px;
    margin-bottom: 15px;
  }
  #search-button {
    font-size: 12px;
  }
  .slogan {
    padding: 30px;
    font-size: 20px;
  }
  .second {
    display: none;
  }
  #contenedor-formulario {
    padding: 10px;
    margin: 5px;
  }
  #titulo-formulario {
    flex-direction: column;
  }
  .catalogo {
    flex-direction: column;
  }
}
